@font-face {
  font-family: "ccp-icons";
  src: url("ccp-icons.eot?a5f9081b9036752e2c86bd600f2345e1?#iefix") format("embedded-opentype"),
url("ccp-icons.woff2?a5f9081b9036752e2c86bd600f2345e1") format("woff2"),
url("ccp-icons.woff?a5f9081b9036752e2c86bd600f2345e1") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ccp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-down:before {
  content: "\f101";
}
.icon-arrow-left:before {
  content: "\f102";
}
.icon-arrow-link:before {
  content: "\f103";
}
.icon-arrow-right:before {
  content: "\f104";
}
.icon-arrow-up:before {
  content: "\f105";
}
.icon-arrows:before {
  content: "\f106";
}
.icon-back:before {
  content: "\f107";
}
.icon-bell-off:before {
  content: "\f108";
}
.icon-bell-on:before {
  content: "\f109";
}
.icon-calendar-off:before {
  content: "\f10a";
}
.icon-calendar-on:before {
  content: "\f10b";
}
.icon-calendar-plus:before {
  content: "\f10c";
}
.icon-car-off:before {
  content: "\f10d";
}
.icon-car-on:before {
  content: "\f10e";
}
.icon-cart:before {
  content: "\f10f";
}
.icon-check:before {
  content: "\f110";
}
.icon-chevron:before {
  content: "\f111";
}
.icon-clock:before {
  content: "\f112";
}
.icon-close:before {
  content: "\f113";
}
.icon-delete:before {
  content: "\f114";
}
.icon-document:before {
  content: "\f115";
}
.icon-download:before {
  content: "\f116";
}
.icon-drag-drop:before {
  content: "\f117";
}
.icon-edit:before {
  content: "\f118";
}
.icon-exclamation:before {
  content: "\f119";
}
.icon-geolocalization:before {
  content: "\f11a";
}
.icon-home-off:before {
  content: "\f11b";
}
.icon-home-on:before {
  content: "\f11c";
}
.icon-home:before {
  content: "\f11d";
}
.icon-info:before {
  content: "\f11e";
}
.icon-inspection:before {
  content: "\f11f";
}
.icon-link:before {
  content: "\f120";
}
.icon-mail-open:before {
  content: "\f121";
}
.icon-mail:before {
  content: "\f122";
}
.icon-maintenance:before {
  content: "\f123";
}
.icon-minus:before {
  content: "\f124";
}
.icon-phone:before {
  content: "\f125";
}
.icon-photo:before {
  content: "\f126";
}
.icon-plus:before {
  content: "\f127";
}
.icon-position:before {
  content: "\f128";
}
.icon-profile:before {
  content: "\f129";
}
.icon-qrcode:before {
  content: "\f12a";
}
.icon-quantity-minus:before {
  content: "\f12b";
}
.icon-quantity-plus:before {
  content: "\f12c";
}
.icon-round-arrow-point:before {
  content: "\f12d";
}
.icon-round-arrow:before {
  content: "\f12e";
}
.icon-search:before {
  content: "\f12f";
}
.icon-settings:before {
  content: "\f130";
}
.icon-share:before {
  content: "\f131";
}
.icon-sorting:before {
  content: "\f132";
}
.icon-star-off:before {
  content: "\f133";
}
.icon-star-on:before {
  content: "\f134";
}
.icon-star:before {
  content: "\f135";
}
.icon-success:before {
  content: "\f136";
}
.icon-telemetry:before {
  content: "\f137";
}
.icon-tick:before {
  content: "\f138";
}
.icon-upload:before {
  content: "\f139";
}
.icon-warning-light:before {
  content: "\f13a";
}
.icon-world-on:before {
  content: "\f13b";
}
.icon-world:before {
  content: "\f13c";
}
