body {
  background-color: #202125;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
  font-family: 'Lato';
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.MainLayout {
  box-sizing: border-box;
}
